You are now logged in...
<br>
<h1>Fake#show : These are the values in the database</h1>
<p><% @fakeshow.each do |fakie| %>

<strong>Username: <%=fakie.username %></strong> , Password : <strong><%=fakie.password %></strong>, Email id :<strong><%=fakie.email %></strong>
</br>

<% end %>
You are now logged in...

<br>
<a href="index">click here to log out </a>
</p>
